{% extends "../layout.njk" %}

{% block header %}
 Информация 
{% endblock %}

{% block content %}
<dl class="uk-description-list">
    <dt>Адрес</dt>
    <dd>{{ data.house.address }}</dd>
    <dt>Почтовый индекс</dt>
    <dd>{{ data.house.postIndex }}</dd>
    <dt>Район</dt>
    <dd>{{ data.house.district }}</dd>
    <dt>Микрорайон</dt>
    <dd>{{ data.house.subDistrict }}</dd>
    <dt>Год постройки</dt>
    <dd>{{ data.house.constructionYear }}</dd>
</dl>
{% if data.house.links %}
<h2 class="uk-h4 uk-margin-small uk-heading-bullet">Ссылки</h2>
<ul class="uk-list uk-margin-small">
    {% for link in data.house.links %}
    <li><a href="{{ link.ref }}">{{ link.resource }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}