{% extends "../layout.njk" %}

{% block header %}
 Объявления 
{% endblock %}

{% block content %}
<div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-match uk-text-center" uk-grid>
    {% for post in data.posts %}
    <div>
        <div class="uk-card uk-card-small uk-card-default uk-card-body">
            <div class="uk-card-title">{{ post.title }}</div>
            <div>{{ post.text }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}