<!DOCTYPE html>
<html>
<head>
    <title>Houseowners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css"/>
    <link rel="stylesheet" href="/static/style.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</head>
<body class="uk-container">
    <div class="uk-section uk-section-primary uk-section-xsmall">
        <div class="uk-margin-left uk-margin-right uk-text-lead uk-text-emphasis">
            <span class="uk-margin-small-left uk-margin-small-right" uk-icon="icon: home; ratio: 2"></span>
            <span class="uk-display-inline-block uk-text-middle">{{ context.siteArea }}</span>
        </div>
    </div>
    <div>
        <div uk-grid class="uk-grid-divider uk-margin-top">
            <div class="uk-width-1-4@s uk-width-1-5@m">
                <ul class="uk-nav uk-nav-default">
                    {% for menuItem in context.menu %}
                    <li {% if menuItem.active %} class="uk-active" {% endif %}>
                        <a href="{{ menuItem.ref }}">{{ menuItem.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-width-3-4@s uk-width-4-5@m">
                <h1 class="uk-h2 uk-margin-small-bottom uk-heading-divider">{% block header %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
        <hr>
    </div>
</body>
</html>