<!DOCTYPE html>
<html>
<head>
    <title>Houseowners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
</head>
<body class="uk-container">
    <div class="uk-section uk-section-primary uk-section-xsmall">
        <div class="uk-margin-left uk-margin-right uk-text-lead uk-text-bold uk-text-emphasis">
            Houseowners - {{ context.siteArea }}
        </div>
    </div>
    <div>
        <div uk-grid class="uk-grid-divider uk-margin-top">
            <div class="uk-width-1-3@s uk-width-1-5@m">
                <ul class="uk-nav uk-nav-default">
                    {% for menuItem in context.menu %}
                    <li {% if menuItem.active %} class="uk-active" {% endif %}>
                        <a href="{{ menuItem.ref }}">{{ menuItem.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="uk-width-2-3@s uk-width-4-5@m uk-container">
                <h1 class="uk-margin-small-bottom">{% block header %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
        </div>
        <hr>
    </div>
</body>
</html>